.demo-form {
  .form-item {
    margin-bottom: 10px;
  }

  label.form-item__label {
    width: 70px;
    float: left;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .form-item__content {
    position: relative;
    margin-left: 70px;
  }

  .form-item__input {
    margin-right: 5px;
  }

  textarea {
    resize: vertical;
  }
}
