.color-label {
  font-size: 12px;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  line-height: 16px;
}

.color-label.color1 {
  background-color: #7ed321;
}

.color-label.color2 {
  background-color: #f5a623;
}

.color-label.color3 {
  background-color: #4a90e2;
}

.border-label {
  font-size: 12px;
  padding: 0 5px;
  border-radius: 2px;
  line-height: 16px;
}

.border-label.fill-color {
  background-color: #e7f2fe;
  color: #688fbf;
  border: 1px solid #bed8f2;
}

.border-label.red {
  color: #ee3939;
  border: 1px solid #ee3939;
}

.border-label.green {
  color: #37990d;
  border: 1px solid #37990d;
}

.border-label.yellow {
  color: #f5a623;
  border: 1px solid #f5a623;
}

.quick-label {
  font-size: 12px;
  line-height: 22px;
  color: #4c4d50;
  padding: 0 8px;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #e3e3e3;
}

.quick-label:hover {
  background-color: #eceeef;
}

.quick-label.curr {
  color: #0275d8;
  border: 1px solid #0275d8;
}
