.navlist-box {
  width: 100%;
  height: 36px;
  margin: 41px 15px 10px;
  line-height: 36px;
  border-bottom: 1px solid #ddd;
}

.navlist-box a {
  float: left;
  display: block;
  margin-right: 20px;
  height: 36px;
  text-align: center;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

.navlist-box a.curr span {
  border-bottom: 2px solid #3188e8;
  display: inline-block;
  height: 100%;
  color: #3188e8;
  font-weight: bold;
}
.demo-block.demo-tabs {
  margin: 0 -24px;

  .source {
    background-color: #eee;
  }
}

.demo-block .demo-block-control.is-fixed {
  width: 1186px;
}
