<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap-reset.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/topicsv2.css?v=1573435666000">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/common.css?v=1573435666000">
  </link>
  <body>
    <div id="main-content">
      <!-- 详情页 标签页 -->
      <div class="panel-body panel-border" style="background-color: #fff;padding:0;border: 1px solid #ddd;border-top: none;min-height: 200px;">
        <div class="clearfix sub-nav fl" style="width:100%;margin:0;border-radius:0;">
          <a class="curr" style="margin-left:-1px;" href="javascript:;">标签页一</a>
          <a href="javascript:;">标签页二</a>
          <a href="javascript:;">标签页三</a>
          <div class="clearfix mb10 fr">
              <button type="button" class="fr ml5 btn btn-primary" id="add-recode" style="position: relative">按钮</button>
              <button type="button" class="fr ml5 btn btn-primary" id="add-dev-new" style="position: relative">按钮</button>
              <button type="button" class="fr ml5 btn btn-primary" id="bq-project" style="position: relative">按钮</button>
          </div>
        </div>
        <div>
          <!-- content -->
        </div>
      </div>

      <!-- 详情页 标签页 -->
      <div class="panel" style="border-radius: 0;background-color: transparent;">
        <div class="clearfix artical-nav artical-navbar">
          <a href="/jjsxm/proxy/detail?projectId=7515" key="detail" class="curr">项目信息</a>
            <a href="/jjsxm/housesInfo/manager?projectId=7515" key="manager">户型管理</a>
          <a href="/jjsxm/community?projectId=7515" key="community">楼盘相册</a>
          <a href="/community/communityDic/communityDic-map?comId=86587" key="communityDic" target="_blank">项目地图</a>
          <a href="/jjsxm/project/projectProxyList?projectId=7515" key="projectProxyList">代理记录</a>
          <a href="/jjsxm/fxSetting?projectId=7515" key="fxSetting">报备参数</a>
          <a href="/jjsxm/attacheList/attacheList-list?projectId=7515" key="attacheList-list">项目资料</a>
          <a href="/jjsxm/operatorLog?projectId=7515" key="operatorLog">操作记录</a>
          <a href="/jjsxm/period/index?projectId=7515" key="period">佣金标准及期间</a>
        </div>
      </div>
      
    </div>

    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/bootstrap.min.js"
    ></script>
  </body>
</html>
</html>
