<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <title>列表页模板</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/jjsloginstatic/css/bootstrap-reset.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/jjsloginstatic/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/jjsloginstatic/css/index/common.css?v=20170317"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/jjsloginstatic/css/topicsv2.css?v=20170506"
    />
  </head>
  <body>
    <div id="main-content">
      <!-- 内容 -->
    </div>

    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/bootstrap.min.js"
    ></script>
  </body>
</html>
