<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap-reset.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/topicsv2.css?v=1573435666000">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/common.css?v=1573435666000">
  </link>
  <body>
    <div id="main-content">
        <div class="fl relative">
            <input class="w100" onclick="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm'})" type="text" id="timeStart" name="timeStart" value="" placeholder="开始时间" aotocomplete="off">
            <a class="wdate-ico" href="javascript:;" onclick="WdatePicker({el:'timeStart', dateFmt: 'yyyy-MM-dd HH:mm'})"><i class="fa fa-calendar"></i></a>
        </div>
      
    </div>

    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/bootstrap.min.js"
    ></script>
    <script src="
    https://front.leyoujia.com/plugins/datepicker/WdatePicker.js"></script>
  </body>
</html>
</html>
