<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="renderer" content="webkit" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/bootstrap-reset.css">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/topicsv2.css?v=1573435666000">
    <link rel="stylesheet" type="text/css" href="https://front.leyoujia.com/css/common.css?v=1573435666000">
  </link>
  <body>
    <div id="main-content">
      
        <div id="editor">
            <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
        </div>
    </div>

    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="https://front.leyoujia.com/js/bootstrap.min.js"
    ></script>
    <script src="//unpkg.com/wangeditor/release/wangEditor.min.js"></script>
    <script type="text/javascript">
      var E = window.wangEditor
      var editor = new E('#editor')
      // 或者 var editor = new E( document.getElementById('editor') )
      editor.create()
  </script>
  </body>
</html>
</html>
