.lyj-timeline {
  margin: 0;
  font-size: 14px;
  list-style: none;
}

.lyj-timeline .lyj-timeline-item:last-child .lyj-timeline-item__tail {
  display: none;
}

.lyj-timeline-item {
  position: relative;
  padding-bottom: 20px;
}

.lyj-timeline-item__wrapper {
  position: relative;
  padding-left: 28px;
  top: -3px;
}

.lyj-timeline-item__tail {
  position: absolute;
  left: 4px;
  height: 100%;
  border-left: 2px solid #e4e7ed;
}

.lyj-timeline-item__icon {
  color: #fff;
  font-size: 13px;
}

.lyj-timeline-item__node {
  position: absolute;
  background-color: #e4e7ed;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyj-timeline-item__node--normal {
  left: -1px;
  width: 12px;
  height: 12px;
}

.lyj-timeline-item__node--large {
  left: -2px;
  width: 14px;
  height: 14px;
}

.lyj-timeline-item__node--primary {
  background-color: #409eff;
}

.lyj-timeline-item__node--success {
  background-color: #67c23a;
}

.lyj-timeline-item__node--warning {
  background-color: #e6a23c;
}

.lyj-timeline-item__node--danger {
  background-color: #f56c6c;
}

.lyj-timeline-item__node--info {
  background-color: #909399;
}

.lyj-timeline-item__dot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lyj-timeline-item__content {
  color: #303133;
}

.lyj-timeline-item__timestamp {
  color: #909399;
  line-height: 1;
  font-size: 13px;
}

.lyj-timeline-item__timestamp.is-top {
  margin-bottom: 8px;
  padding-top: 4px;
}

.lyj-timeline-item__timestamp.is-bottom {
  margin-top: 8px;
}

#timeline .lyj-icon-fire {
  color: red;
  font-size: 12px;
  font-weight: bold;
}
